/**
 * Raccoon's tail kickstarter variables file
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


/******************************************
 * Typeface and font sizes configurations *
 ******************************************/

/** Font stacks **/
$font-headings:             Georgia, serif !default;
$font-body:                 Helvetica, sans-serif !default;
$font-code:                 Courier, monospace !default;

/** Font sizes **/
$font-size:                 1.6rem !default;
$line-height-body:          1.5 !default;
$line-height-headings:      1.25 !default;
$headings-size: (           "h1": 3.16em,
                            "h2": 2.38em,
                            "h3": 1.77em,
                            "h4": 1.33em,
                            "h5": 1.15em,
                            "h6": 1em) !default;
$headings-ratio:            0 !default; // ratio override $h[1-4]-size if > 0
$font-small-ratio:          .85 !default;


/************************
 * Colors configuration *
 ************************/

/** Generic colors **/
$base-color:                #000 !default;
$base-color-invert:         #000 !default;

/** Link colors **/
$link-color:                #000 !default;
$link-hover-color:          #000 !default;
$link-visited-color:        #000 !default;

/** Brand colors **/
$primary-color:             #000 !default;
$primary-color-dark:        #000 !default;
$primary-color-light:       #000 !default;
$secondary-color:           #000 !default;
$secondary-color-dark:      #000 !default;
$secondary-color-light:     #000 !default;
$tertiary-color:            #000 !default;
$tertiary-color-dark:       #000 !default;
$tertiary-color-light:      #000 !default;

/** Backgrounds colors **/
$base-background:           #fff !default;
$primary-background:        #fff !default;
$secondary-background:      #fff !default;
$tertiary-background:       #fff !default;
$code-background:           #000 !default;

/** Misc colors **/
$error-color:               #C00 !default;
$warning-color:             #FC0 !default;
$valid-color:               #0C0 !default;
$info-color:                #00C !default;
$code-color:                #fff !default;


/**********************************************
 * Spacings (margins, paddings, borders, etc) *
 **********************************************/

/** Default spacings **/
$pixel-value:               .1rem !default;
$double-value:              .2rem !default;
$tiny-value:                .5rem !default;
$tiny-plus-value:           .7rem !default;
$unit-value:                1rem !default;
$small-value:               1.5rem !default;
$small-plus-value:          2rem !default;
$medium-value:              3rem !default;
$medium-plus-value:         4rem !default;
$demi-decimal-value:        5rem !default;
$large-value:               6rem !default;
$large-plus-value:          8rem !default;
$decimal-value:             10rem !default;
$xl-value:                  12rem !default;
$xl-plus-value:             14rem !default;
$xxl-value:                 16rem !default;
$xxl-plus-value:            18rem !default;
$double-decimal-value:      20rem !default;

/** Project custom spacings **/
$border-size:               $small-plus-value !default;
$radius-small:              $double-value !default;
$radius-base:               $tiny-value !default;
$radius-large:              $unit-value !default;
$radius-circle:             50% !default;
$container-padding:         $medium-plus-value !default;

/** Misc spacings **/
$codeblock-maxheight:       $double-decimal-value !default;


/***************
 * Breakpoints *
 ***************/

$breakpoints: (
  begin:        0,
  tiny:         320px,
  tiny-plus:    480px,
  small:        640px,
  small-plus:   768px,
  med:          960px,
  med-plus:     1024px,
  large:        1280px,
  large-plus:   1440px,
  xl:           1600px,
  xl-plus:      1920px,
) !default;
