/**
 * Raccoon's tail is a small Sass project kickstarter
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


/** Normalize.css import as a browser CSS reset **/
@import "__normalize";


/** Default Raccoon's tail kickstarter variables **/
// @import "__variables"; // don't forget to activate this line if using raccoon's tail without npm system


/** Raccoon's tail kickstarter mixins loading **/
@import "mixins/mixins";


/** Raccoon's tail kickstarter components **/
@import "helpers";
// @import "code";
@import "a11y";
@import "print";
